body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #f6f6f6;
    color: #444; /* light text */
}

.darkText{ color: #1b1d1f;}
.heading{color: #a9a8a8; font-size: 12px;}
.subHeading{ font-weight: bold; padding-top: 10px;  color: rgb(38, 38, 38);}
.grey-subheading{ color: #000; font-weight: 600;font-size: 20px; letter-spacing: -1px;}
.line_break{width: 100%; border-bottom: 1px solid #f4f4f4; padding-top: 10px; }
.large-title{ font-weight: 700; font-size: 30px; letter-spacing: -2px;}

.sidebar {

}

.success { color: rgb(0, 128, 0);}
.text-danger{color: darkred;}

.flash-cont{display: inline-block; margin-top: 5px; margin-right: 5px; color: #38ae67; font-weight: 400;}
button{
    font-size: 12px;
    border: 1px solid #E5E7E8;
    border-radius: 3px;
    font-weight: 400;
    padding: 3px 8px;
    background-color: #fff;
}

clean-button{padding:5px;}

.sidebar > ul > li{ line-height: 5px; margin-top: 0px;}
.sidebar > ul > li > a, a:visited{color: rgb(87, 88, 88);}
.sidebar > ul > Li > a:hover{color:rgb(112, 119, 123);}
.sidebar > ul > Li > a > i { padding-right: 8px; font-size: 12px; line-height: 5px;}


a:link, a:visited, a:hover{color: rgb(112, 112, 112); }
input[type=text], input[type=password], select {
    height: 40px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid rgb(229, 231, 232);
    padding: 12px 6px;
    width: 100%;
    margin-right: 10px;
}

input[type=checkbox]{
    border-radius: 10px;
    width: 20px;
height: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 200;
    color: lightgrey;
}

.title{ color:rgb(66, 66, 66); font-weight: 400; font-size: 14px;}
.form-control{box-shadow: none;color: rgb(46, 47, 51); font-size: 12px;}
textarea{ margin-top: 0px; width: 100%;border: 1px solid rgb(229, 231, 232); border-radius: 3px;  font-weight: 300;padding: 12px 6px;  color:rgb(46, 47, 51); padding-top: 10px;}

h3{
    font-weight: 700;
    font-size: 14px;
}

h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.well-title{
    font-size: 16px;
    font-weight: bold;
    background-color: #FFF;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 25px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 35px;
}

.separater{margin-top: 10px;}
/*
.separater{
    margin-right: 40px;
    margin-left: 20px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    padding-top: 0;
    margin-top: 0;
}*/

.fa-angle-down { font-size: 12px;}

.well{
    padding: 30px;
    padding-top: 20px;
    background-color: #fff;
    border: 3px solid rgb(239, 239, 239);
    border-radius: 2px;
    box-shadow: none;
    border-radius:0 0 .25rem .25rem;
    border:1px solid #e8e8e8
}
.errors{color:#cc0000;}
.error{color:#cc0000;}
label{
    font-weight: 300;
    color: rgb(145, 148, 150);
    font-size: 15px;
    line-height: 31px;
}
a.logo:visited, a.logo:hover, a.logo:link{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 24px;
    letter-spacing: -1px;
    margin-left: 10px;
    padding-right: 25px;

}


#logo-cont{display: inline-block;}
#logo-cont > img { width: 25px; height: 25px;}
.navbar-brand{}


.btn{
    font-size: 13px;
    border-radius: 2px;
    padding: 9px 20px;
    font-weight: 500;
    background-color: #fff;
    border: 0px;
    letter-spacing: 1px;
    color:#fff;
}

.btn:hover{
    background-color: rgb(21, 202, 110);
    color:#fff;
}

.btn-clear{
    font-size: 12px;
    border: 1px solid #E5E7E8;
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 10px;
    height: 16px;
    background-color: #fff;
    margin-top: 10px;
}

.btn-clear-form{ padding: 5px 10px 18px 10px;}

.btn:link, .btn:visited{color:#fff;}
.btn-primary{background-color: #38ae67; border-radius: 3px; font-size: 14px; font-weight: 500;padding: 5px 10px;}
.btn-primary:hover{background-color: #26AB5D;}

.selectize-input{ height: 40px; padding-top: 0px; padding-bottom: 8px; border-radius: 2px; border: 1px solid rgb(229, 231, 232);}
.selectize-control.multi .selectize-input.has-items{padding-bottom: 7px; padding-top: 0px;}
.item{margin-bottom: 4px;}
[class^='select2'] {
    border: 1px solid rgb(217, 218, 220);
  border-color: #dcdcdc !important;
  border-radius: 0px !important;
}



.dropdown-toggle:link{color: #000;background-color:transparent;}
.dropdown-toggle:hover{color: #000;background-color: transparent;}
.dropdown-toggle:active, .open .dropdown-toggle {background-color:#24292E; !important; !important;}
.navbar-nav > li > .dropdown-menu{ margin-top: 18px;}
.navbar{
    background-color: #24292E;
    padding-top: 15px;


}
.navbar-right > li{}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover{ color:rgba(255, 255, 255, 0.75);font-size: 13px;font-family: 'Miriam Libre', sans-serif;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color:transparent; rgb(112, 112, 112);}
.open {background-color: transparent;}
.navbar-default, .navbar-nav > li > a:link, .navbar-nav > li > a:hover,
.navbar-nav > li > a:visited,.navbar-nav > li > a:focus { background-color: #24292E; font-weight: 700;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color: transparent;}



.navbar, .navbar-fixed-top {
    min-height: 60px;
 max-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 0px;
    max-height: 60px;

}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}


.poc-elem{display: inline-block;}

.grey{ background-color: grey;}
.green{background-color: #00A63F; color:#fff;}
.status-green{color:#00A63F; padding-left: 10px;}
.status-red{color:red}
.yellow{background-color: orange}
.red{background-color: red;color: #fff;}


/* Header */
.nav-menu{color: #fff;}
.nav-menu > li { padding-right: 15px;}
.main-menu { font-size: 14px;}
.main-menu > li{ padding-right: 10px;}
/* Header */


/* POCs */
.settings-cog{font-size: 24px; margin-right: 10px;color: rgb(180, 180, 180); margin-bottom: 10px;}

.pocs-table{width: 100%; margin-top: 0px; border: 1px solid #e1e4e8;border-radius: 3px 3px 0 0;}
.pocs-table > thead{border-radius: 3px; border: 1px solid #e1e4e8; background-color: #f6f8fa; }
.pocs-table > thead > tr{ line-height:40px;height: 45px;  border-bottom: 1px solid #E5E7E8; }
.pocs-table > thead > tr > th { padding: 0px 10px 0px 10px; color: #586069;}
.pocs-table > thead > tr > th{font-weight: 300; text-transform: uppercase; color: #A2A2A2; font-weight: 500;}
.pocs-table > tbody > tr > td{ padding: 0px 10px 0px 10px;}
.pocs-table > tbody > tr {background-color:#fff;border-bottom: 1px solid #eeeeee; line-height: 40px;}
.pocs-table > tbody > tr:hover{ background-color: #f6f8fa;}
tr[data-href] { cursor: pointer }
.pocs-table > thead > tr > th > a:hover { text-decoration: none; text-underline: none;}

.poc-title{ font-weight: 700; font-size: 36px; letter-spacing: -2px;}
.poc-customer{color: rgb(154, 156, 165); font-weight: 400;font-size: 20px; margin-top: 10px;}
.poc-summary{text-transform: uppercase; font-weight: bold; padding-bottom: 5px; border-bottom: 2px solid #000; margin-top: 15px;}
.poc-status{ width: 23px; height: 23px; border-radius: 50%; color: #fff;overflow:hidden; display: inline-block;text-align: center;}
.poc-status-table{padding: 5px;}
.poc-details{ }
.poc-details tbody > tr > td{line-height: 20px; padding-top: 8px;}
.poc_starts{border-right: 1px solid #ddd; height: 65px; padding-top: 10px;width: 100px; text-align: center; padding: 10px;padding-top: 20px;}
.poc_ends{width: 100px; text-align: center;padding: 10px; padding-top: 20px;}
.poc_product{display: inline-block; padding-right: 2px;}
.separater{border-bottom: 2px solid #000;}
.light_separator{border-bottom: 1px solid #E5E7E9; margin-top: 10px; margin-bottom: 10px;}
.black_font{ font-weight: 600; font-size: 14px;}
.contz{padding: 10px 20px 10px 20px; text-align: center; border-right: 1px solid #E5E7E9;}
.contz-right{padding: 10px 20px 10px 20px; text-align: center; border-left: 0px solid #E5E7E9;}
.black_font_table{ font-weight: 700; font-size: 16px; padding-bottom: 5px;}
.bold-white{color:#fff;font-weight: 700;}

.products-table { height: auto;}
.products-table  > tr {}

.poc-team-member{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgb(239, 239, 239);
    padding-top: 0px;
    display: inline-block;
    font-size: 20px;
    padding-top:3px;
    font-weight: 500;
    text-align: center;

}

.poc-team-member-small{

    height: 25px;
    width: 25px;
    color:#fff;
    border-radius: 50%;
    border: 3px solid rgb(154, 156, 165);
    padding-top: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.admin-ring{
    border: 3px solid #77B4F0;
}

.sme-ring{
    border: 3px solid darkorange;
}

.poc-team-member-todo{

    height: 27px;
    width: 27px;
    border-radius: 50%;
    border: 3px solid rgb(239, 239, 239);
    padding-top: 4px;
    margin-top: 5px;
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
}

.todo-count{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 500;
    background-color: green;
    color: #fff;
}


.top-menu-list { list-style: none;padding-top: 15px;}
.top-menu-list > li {display: inline; padding-right: 25px;}
a.top-menu-link:link {color: #FFF; font-weight: bold; font-size: 12px;}
a.top-menu-link:visited{color: #fff;font-size: 12px;}

.highlight{font-weight: 900}

.verb{color:rgb(92, 92, 92);font-weight: 700;}
.object{font-weight: 700;}
.grey-well{background-color: #F8F6F8; width: 100%; padding: 10px;}
.divider {  display: inline-block;  width: 0;  height: 50px;  border-right: 1px solid #ddd;  }



#addUserForm > fieldset, #addTeamForm > fieldset{display: inline-block;}
#addUserForm > fieldset > input,#addTeamForm > fieldset > input{width: 175px; margin-right: 0; margin-left: 0;}


.note-cont{ height: auto; display: block; font-size: 13px; margin-bottom: 15px;}
.note_body{margin-bottom: 3px;}
.note-details{ font-size: 11px; color:#85929E; font-style: italic;margin-top: 2px;padding-bottom: 3px;}
.savenote-button{

    font-size: 12px;
    border: 1px solid #E5E7E8;
    border-radius: 3px;
    font-weight: 400;
    padding: 3px 8px;
    height: 16px;
    background-color: #fff;
}

#todo-list{margin-top: 0px; margin-left: -40px;}
.todo{margin-bottom: 10px; display: block;}
.todo-details{display: block; font-size: 9px; margin-top: 0px; color: #85929E; font-style: italic; padding-left: 4px;}
.todo-assigned{color:#7E7E7F; padding-left: 0px;padding-right: 20px;}
.todo-done{display: inline-block; width: 25px;}
.todo-body{display: block; font-size: 14px;}

/* grid layout */
.todo-circle{
    overflow:hidden;
    display: inline-block;
    font-weight:bold;
    height: 23px;
    width: 23px;
    background-color: #122b40;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 1px;
}

.status-check{
    font-size: 17px; font-weight: bold; text-align: center;padding-top: 5px;
}



.todo-completed{text-decoration: line-through;}
.drag{display: inline-block; width:100%;}
.drag:hover{cursor: hand;}
ul li .drag i{display: none;}
ul li:hover .drag i {display: inline-block;}
#my-sort{list-style: none;}
#my-sort li{height: 45px; margin-left: -30px;}


.fs_label{margin-bottom: 5px; padding-bottom: 5px; margin-top: 10px; text-transform: uppercase; font-size: 13px; font-weight: 600; color: #868695; margin-left: 3px;}
.label{font-weight: 300;}

a.magnet_link:link{text-decoration: none;}
a.magnet_link:hover{text-decoration: none;}
a.magnet_link:visited{text-decoration: none;}
/* POCs */

.banner{margin-top: 50px; height: 55px; background-color: #fff; border-top: 1px solid #ccc;}


/* links */

.small-link{font-size: 10px; font-weight: 300;}
a.small-link-white:link, a.small-link-white:hover, a.small-link-white:visited{font-size: 10px; font-weight: 300; color: #fff;}
.medium-link{font-size: 12px;font-weight: 300;}
a.blue-link{ color: #47CBFC; text-decoration: none;}

a.small-white:link, a.small-white:hover, a.small-white:visited { color: #fff; font-size: 12px;}

.datepicker{margin-top: 7px;}


/* BOOTSTRAP STUFF*/

[ng\:cloak], [ng-cloak], .ng-cloak { display: none;  }

[v-cloak] {
  display: none;
}



th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
    color: #0f0f0f;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #0f0f0f;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0f0f0f;;
}

a.active{
    font-weight: bold;
}

.main-search, .main-search:focus{
    outline:none;
    outline-width: 0;
    border-radius: 0;
    padding-left: 25px;
    background-color: #3F4448;
    color: #fff;

}

.main-search::placeholder{
    font-size: 12px;
    letter-spacing: 1px;
}

input, textarea {
  outline: none;
}



.search { position: relative; }
.search { position: relative; }
.search input { text-indent: 25px;}
.search .fa-search {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 14px;
    color: #9a9a9a;
    font-weight: 100;

}

.fa-arrow-circle-o-up, .fa-arrow-circle-o-down {
    font-size: 12px;
    padding-left: 3px;
    color: rgb(174, 174, 174);
}

.sort_option:hover{ background: #DDDDDD;}



/* Account and Administration */

nav > ul {
    list-style: none;
    margin-left: -35px;
}

.users_table > tr { padding-left: 10px;}
.users_table > thead > tr{}
.users_table > thead {}
.users_table > thead > tr > th {}
/* Account and Administration */


/* vue-table */
.hand{cursor: hand;}
.pad {padding-top: 5px; float: none;}
/* vue-table */


/* stages */
.stage:hover{cursor: pointer;}
.stage_title{font-weight: bold; margin-bottom: 15px; font-size: 16px;}
.poc_stages_title{font-weight: bold;}
.poc_stages_list{ list-style: none; margin-left: -40px;}
.poc_stages_list > li { background-color:#fff; padding:5px; margin-bottom: 10px; border: 1px solid rgb(232, 232, 232);}
/* stages */




@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}